<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTests" parallel="methods" thread-count="5">


	<listeners>
		<listener class-name="com.nal.listeners.ExtentReportListener" />
		<listener class-name="com.nal.listeners.TestAllureListener" />
	</listeners>

	<test name="KD Test">
		<classes>
			<class name="tests.KeywordDrivenTest" />
		</classes>
	</test>





</suite>

